@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

* {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: brown;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.background {
    width: 400px;
    height: 200px;
    background-color: rgba(197, 181, 211, 0.089);
    border-radius: 0.75em;
}

button {
    background-color: #fff0f0;
    color: #382b22;
    border: #b18597;
    border-radius: 0.75em;
    font-size: inherit;
    padding: 1em 1em;
    cursor: pointer;
    transition: 0.25s ease;

}

button:hover {
    outline: 5; 
    box-shadow: 0 0 0 2px rgba(49, 43, 43, 0.444);
}

p {
    font-size: 25px;
}


